{% extends 'main/layout2.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <div class="wrapper">
        <form class='login-form' action="" method="get">
            {% csrf_token %}
            <form action="" method="get">
                    <input class="textfield" type="password" id="inpu9" name="last_password" placeholder='Введите старый пароль' maxlength="25" size="20">
                    <input class="textfield" type="password" id="inpu2" name="new_password" placeholder='Введите новый пароль' maxlength="25" size="20">
                    <input class="textfield" type="password" id="inpu3" name="new_password2" placeholder='Введите новый пароль повторно' maxlength="25" size="20">

                    <button class="btn btn-success btn" id = 'butt1' type="submit" name="intlg" onclick="Func()">Отправить</button>
                <h4 id="wait"></h4>
                </form>
        </form>
    </div>

<script>
        function Func() {
        document.getElementById('butt1').style.display='none';
        // document.getElementById('butt2').style.display='none';
        var txt2 = document.getElementById('wait');
        txt2.innerHTML = 'НЕБОЛЬШОЕ ОЖИДАНИЕ, ПОЖАЛУЙСТА';
        txt2.style.fontStyle = 'Italic';
        }
    </script>
{% endblock %}