{% extends 'main/layout.html' %}

{% block title %}Инструкция{% endblock %}

{% block content %}

    <div class="box inner-offset">
        <h1 class="title">Инструкция</h1>
        {% if user.is_authenticated %}
        <h2 class="instruction_high">Учителям: </h2>
        <p>Добро пожаловать на сайт! Он создан для упрощения работы учителя и улучшения знаний учеников по геометрии.</p>
        <p>После регистрации у Вас есть возможность создавать работы для учеников разных классов на определённые темы,
        которые представлены в выпадающем списке на странице создания работы.</p>
        <h2 align="center">Как провести работу?</h2>
        <h3 class="plan">1. Зайдите в пункт "Создать работу для ученик(а/ов)" </h3>
        <h3 class="plan">2. Выберите интересующую Вас тему и количество вариантов(лучше выбрать чуть больше, чем учеников
            в классе</h3>
        <h3 class="plan"> 3. Далее передайте ученикам пароли, отправленные на почту. (Рекомендуется распределить пароли в соответствии со списком класса)</h3>
        <h3 class="plan"> 4. Работы рекомендуется проводить в аудитории(на гаджетах учеников)</h3>
        <h3 class="plan"> 5. В процессе выполнения работы вы можете следить за статистикой в пункте "Просмотр сводной таблицы".</h3>
        <h3 class="plan"> 6. После завершения работы Вам будет доступна итоговая статистика, исходя из которой Вы можете поставить оценки ученика)</h3>
        <h3 class="plan"> 7. Если хотите посмотреть работу конкретного ученика, зайдите в пункт "Просмотр работ ученика".</h3>
        {% endif %}
        <h2 class="instruction_high">Ученикам: </h2>
        <p>Задачи на моём сайте позволяют развить полезный навык быстрого ориентирования в популярных темах по
            геометрии. Благодаря ему вы можете не только проверить свои силы, получить отличную оценку,
            но и подготовиться к некоторым заданиям
            из ОГЭ/ЕГЭ, и при этом занять высокое место в ТОП-е игроков.</p>
        <p>После входа у вас на выбор есть два режима. Если вы хотите решить работу, которую задал учитель,
        нажимайте "решить работу учителя" и выполняйте работу! Важное примечание:</p>
        <h2 align="center">Чтобы решать работу, которую задал педагог, Вам не нужно регистрироваться, что
            упрощает взаимодействие ученика и учителя!</h2>
        <p>В случае, если Вы хотите отточить свои навыки, подойдёт второй режим, информация ниже...
            Перед тем, как приступить к тренировке, нужно зарегистрироваться.
            В режиме "тренировка" у вас на выбор есть 4 темы, в каждой из которых 4 задачи разного уровня сложности. Ограничения
            по времени нет, но....</p>
		<h2 align="center">Чем быстрее Вы проходите этап, тем больше зарабатываете очков!</h2>
        <p>Многие любят списывать, смотреть решения на сторонних сайтах, но зачем это делать, если можно немного
            потренироваться и решить 2 задачи, пока другие "гуглят" только 1.</p>
        <h3 align="center">Удачи!</h3>
    </div>

{% endblock %}