{% extends 'main/layout.html' %}

{% block title %}Поздравление{% endblock %}

{% block content %}
{% load static %}
{% csrf_token %}
    <div class="box inner-offset">
        <h1 align="center"> Поздравляем! </h1>
        <img style="display: block; margin: auto; max-width: 900px; height: auto; width: 70%" src="{% static 'main/img/47.png' %}">
        <h2 align="center"> Вы заняли {{ pos }} место в ТОПе!!!!!!!!!! </h2>
      <a href="{% url 'zada4i_tems' %}" id = "butt4" class="reset link border"> К темам </a><br>
      <a href="{% url 'table' %}" id = "butt5" class="reset link border"> К таблице лидеров </a>
    </div>
{% endblock %}