{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <header>

        <nav class="topnav">
            <a href="{% url 'home' %}" class="link"><div>Главная</div></a>
            <a href="{% url 'instruction' %}" class="link"><div>Инструкция</div></a>
            <a href="{% url 'developers' %}" class="link"><div>Создатели</div></a>
        </nav>
        {% if user.is_authenticated %}
        <div class="btn_abs-wrapper">
            <a href="{% url 'logout' %}">
                <button class="btn btn-abs">Выход</button>
            </a>
        </div>
        {% endif %}

    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>