{% extends 'main/layout.html' %}
{% block title %} Регистрация {% endblock %}
{% block content %}

<div class="wrapper">
    <div class="box">
        <h1 class="title">Регистрация</h1>
        <div>Логин должен быть уникальным, по нему вы будете входить в приложение, не забудьте его!</div>
        <form action="" method="get">
            {% csrf_token %}
            <input class="textfield offset" type="text" id="inpu0" name="lg" placeholder='Уникальный Логин' maxlength="30" size="20">
            <input class="textfield offset" type="text" id="inpu1" name="email" placeholder='Ваша электронная почта' maxlength="100" size="20">
            <input class="textfield offset" type="text" id="inpu2" name="fam" placeholder='Ваша Фамилия' maxlength="25" size="20">
            <input class="textfield offset" type="text" id="inpu3" name="name" placeholder='Ваше Имя' maxlength="25" size="20">
            <input class="textfield offset" type="text" id="inpu4" name="kl" placeholder='Ваш класс' maxlength="25" size="20">

            <div class="point">Логин должен быть довольно сложным, чтобы его не смогли повторить другие игроки.</div>
            <div class="point">Если введенный логин уже будет в базе данных, придется заполнить форму заново.</div>
            <div class="point">В ТОП таблице будут указаны Ваши ФИ</div>

            <button class="btn btn-success btn offset" id = 'butt1' type="submit" name="intlg" onclick="Func()">Отправить</button>
            <button class="btn" id="butt2">
                <a href="{% url 'index' %}" class="link">Назад</a>
                    </button>
            <h4 id="wait"></h4>
        </form>
    </div>
</div>
<script>
    document.getElementById("inpu0").value = '{{data.0}}';
    document.getElementById("inpu1").value = '{{data.1}}';
    document.getElementById("inpu2").value = '{{data.2}}';
    document.getElementById("inpu3").value = '{{data.3}}';
    document.getElementById("inpu4").value = '{{data.4}}';

    function Func() {
    document.getElementById('butt1').style.display='none';
    document.getElementById('butt2').style.display='none';
    var txt2 = document.getElementById('wait');
    txt2.innerHTML = 'НЕБОЛЬШОЕ ОЖИДАНИЕ, ПОЖАЛУЙСТА';
    txt2.style.fontStyle = 'Italic';
    }
    </script>
{% endblock %}