{% extends 'main/layout.html' %}

{% block title %}Начальная{% endblock %}

{% block content %}
    <div class="wrapper">
        <form class='login-form' action="" method="get">
            {% csrf_token %}
            <h1 align="center">Выберите нужную вам категорию)</h1>
            <button class="btn">
                <a href="{% url 'teacherTask' %}" id = "butt1" class="link"> Решить работу учителя </a>
                    </button>
            <button class="btn">
            <a href="{% url 'index' %}" id = "butt2" class="link"> Тренировка </a>
                </button>
        </form>
    </div>

{% endblock %}