{% extends 'main/layout2.html' %}
{% block title %} Работа создана {% endblock %}
{% block content %}

    <div class="box inner-offset">
        <h2 align="center"> Ура! </h2></br>
        <h2 align="center"> Работа создана! </h2></br>
        <h2 align="center"> Парол(ь/и) для доступа отправлен(ы) Вам на почту! </h2></br>
        <div>
                    <button class="btn">
            <a href="{% url 'teacherReg' %}" id = "butt2" class="link"> Вернуться </a>
                </button>
        </div>
    </div>
{% endblock %}