{% extends 'main/layout.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="box">
            {% for task in txt %}
                <div>{{task}}</div>
                <input class="textfield offset" type="text" id="inpu0" name="otv" value="" placeholder='Введите ответ к задаче' maxlength="30" size="20">
            {% endfor %}
            <form action="" method="get">
                {% csrf_token %}
                <button class="btn btn-success btn" id = 'butt1' type="submit" name="answers1" onclick="Func()">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}
